# ignore intermediate and build objects
*.fasl
*.pyc
*.o
*.pdf
.d

# ignore build systems
.ninja_deps
.ninja_log
*.ninja

# editor crap
.vscode/*
!.vscode/settings.json

# data files
ods/data/corpus.txt
ods/data/cpp
ods/data/ods-cpp.tgz
ods/data/ods-cpp.pdf

# autotools junk files
.deps
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing

# build artifacts
ods/src/ch??ex??
*_test
*.la
*_bench
misc/kf/kf
*.elf
*.bin
blue-pill/*/*.d
core
bitwise/ion/ion

# django db
/django/*/db.sqlite3

# Quantum experiments
/qc/msqdk/*/obj
/qc/msqdk/*/bin

# apio cruft
.sconsign.dblite
hardware.blif
hardware.asc
hardware.bin

