# data files
data/corpus.txt
data/cpp
data/ods-cpp.tgz

# autotools junk files
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing

# build artifacts
src/*.o
src/ch??ex??
src/*.la
src/*_bench
